[submodule "octomap"]
	path = octomap
	url = https://github.com/wkentaro/octomap.git
	branch = label_fusion
[submodule "pcl"]
	path = pcl
	url = https://github.com/PointCloudLibrary/pcl.git
	version = master
[submodule "cpu_tsdf"]
	path = cpu_tsdf
	url = https://github.com/sdmiller/cpu_tsdf.git
	version = master
